<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Редактирование "{{ test.name }}"
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        <h4 for="name">
                            Название теста
                        </h4>
                        <input type="text" class="form-control m-input" 
                        v-model="test.name"
                        id="name" 
                        placeholder="Введите название теста"/>
                    </div>
                    <div class="form-group m-form__group">
                        <h4 for="desc" >
                            Описание теста
                        </h4>
                        <textarea class="form-control m-input" 
                        v-model="test.desc"
                        id="desc" 
                        placeholder="Введите описание теста">
                        </textarea>
                    </div>
                    <div class="form-group m-form__group" style="text-align: right;">
                        <button @click="save" type="button" class="btn btn-primary m-btn--pill m-btn--icon" >
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h2 class="m-portlet__head-text">Вопросы</h2>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <template v-for="(question, i) in test.questions">
                        <div class="form-group m-form__group ">
                            <h4 :for="'question_' + i" style="font-weight: bold;">
                                Вопрос #{{ i + 1 }} 
                                <button @click="deleteQuestions(i)" type="button" class="btn m-btn--pill btn-outline-danger btn-sm">Удалить</button>
                            </h4>
                            <textarea type="text" class="form-control m-input" 
                            v-model="question.text"
                            :id="'question_' + i" 
                            placeholder="Введите вопрос">
                            </textarea>
                        </div>
                        <div class="row">
                            <div v-for="(answer, k) in question.answers" class="col-lg-3"> 
                                <div class="form-group m-form__group" style="text-align: center; border: 1px solid #eee; padding: 5px;">
                                    <label :for="'answer_' + i + '_' + k" style="width: 100%">
                                        Ответ #{{ k + 1 }}
                                        <a @click="deleteAnswer(i,k)" class="text text-danger" style="cursor: pointer; float: right;">
                                            <i class="la la-close"></i>
                                        </a>
                                    </label>
                                    <input type="text" class="form-control m-input" 
                                    v-model="answer.text"
                                    :id="'answer_' + i + '_' + k" 
                                    placeholder="Введите ответ">
                                    <input type="number" class="form-control m-input" 
                                    v-model="answer.points" style="margin-top: 5px"
                                    placeholder="Кол-во очков за ответ">
                                    <span class="help-block">Кол-во очков за ответ.</span>
                                </div>
                            </div>

                            <div class="col-lg-3"> 
                                <button @click="addAnswer(i)" type="button" class="btn btn-success m-btn--pill m-btn--icon btn-sm" style="text-align: right;">
                                    <i class="fa flaticon-plus"></i> Добавить ответ
                                </button>
                            </div>
                            
                        </div>
                        <hr>
                    </template>

                    <div class="form-group m-form__group">
                        <button @click="addQuestion" type="button" class="btn btn-success m-btn--pill m-btn--icon" style="text-align: right;">
                            <i class="fa flaticon-plus"></i> Добавить вопрос
                        </button>
                        <button @click="save" type="button" class="btn btn-primary m-btn--pill m-btn--icon" style="float: right;">
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h2 class="m-portlet__head-text">Результаты</h2>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <template v-for="(result, i) in test.results">
                        <div class="form-group m-form__group ">
                            <h4 :for="'result_' + i" style="font-weight: bold;">
                                Результат #{{ i + 1 }} 
                                <button @click="deleteResult(i)" type="button" class="btn m-btn--pill btn-outline-danger btn-sm">Удалить</button>
                            </h4>
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group m-form__group">
                                        <input type="number" v-model.number="result.points_from" class="form-control m-input form-control-sm m-input--pill" placeholder="От">
                                    </div>
                                    <div class="form-group m-form__group">
                                        <input type="number" v-model.number="result.points_to" class="form-control m-input form-control-sm m-input--pill" placeholder="До">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group m-form__group">
                                        <textarea type="text" class="form-control m-input" 
                                        v-model="result.text"
                                        :id="'result_' + i" 
                                        placeholder="Введите результат">
                                        </textarea>
                                        <span class="help-block">
                                            Результат теста для диапазона баллов
                                            <span v-show="Number.isInteger(result.points_from)">от {{ result.points_from }} </span>
                                            <span v-show="Number.isInteger(result.points_to)">до {{ result.points_to }} </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </template>

                    <div class="form-group m-form__group">
                        <button @click="addResult" type="button" class="btn btn-success m-btn--pill m-btn--icon">
                            <i class="fa flaticon-plus"></i> Добавить результат
                        </button>
                        <button @click="save" type="button" class="btn btn-primary m-btn--pill m-btn--icon" style="float: right;">
                            Сохранить изменения
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Test from '../../../models/Test';
export default {
	data() {
		return {
			title: 'Редактирование теста',
			test: {}
		};
	},

	methods: {
        async fetchData() {
            this.test = await Test.include('questions.answers', 'results').find(
                this.$route.params.id
            );
            this.test.delete = {
                'results': [],
                'questions': [],
                'answers': []
            };
        },

		addAnswer(i) {
			let question = this.test.questions[i];
			this.test.questions[i].answers.push({
				text: '',
				points: '',
				question_id: question.id
			});
		},
        deleteAnswer(i, k) {
            if(this.test.questions[i].answers[k].id) {
                this.test.delete.answers.push(this.test.questions[i].answers[k].id);
            }
            this.test.questions[i].answers.splice(k, 1);
        },

        addQuestion() {
            this.test.questions.push({
                text: '',
                test_id: this.test.id,
                answers: []
            });
        },
        deleteQuestions(i) {
            if(this.test.questions[i].id) {
                this.test.delete.questions.push(this.test.questions[i].id);
            }
            this.test.questions.splice(i, 1);
        },

        deleteResult(i) {
            if(this.test.results[i].id) {
                this.test.delete.results.push(this.test.results[i].id);
            }
            this.test.results.splice(i, 1);
        },
		addResult() {
			this.test.results.push({
				text: '',
				points_from: '',
				points_to: '',
				test_id: this.test.id,
			});
		},

        save() {
            this.test.save().then(response => {
                if (response && response.title && response.msg && response.status) {
                    swal(response.title, response.msg, response.status);
                }
            });
        }
	}
};
</script>