<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Профиль пользователя {{ user.full_name }}
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="row">
	<div class="col-xl-3 col-lg-4">
		<div class="m-portlet m-portlet--full-height  ">
			<div class="m-portlet__body">
				<div class="m-card-profile">
					<div class="m-card-profile__title m--hide">
                        Профиль пользователя {{ user.full_name }}
					</div>
					<div class="m-card-profile__pic">
						<div class="m-card-profile__pic-wrapper">	
							<img :src="user.avatar_url" alt="">
						</div>
					</div>
					<div class="m-card-profile__details">
						<span class="m-card-profile__name">{{ user.full_name }}</span>
						<a href="" class="m-card-profile__email m-link">{{ user.email ? user.email : user.vk_id }}</a>
					</div>
				</div>
                <div class="m-portlet__body-separator"></div>
                <div v-if="user.results" class="m-widget1 m-widget1--paddingless">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Пройдено тестов</h3>
							</div>
							<div class="col m--align-right">
								<span class="m-widget1__number m--font-brand">{{ user.results.length }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>	
	</div>
	<div class="col-xl-9 col-lg-8">
		<div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
			<div class="m-portlet__head">
				<div class="m-portlet__head-tools">
					<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_user_profile_tab_1" role="tab" aria-selected="true">
								<i class="flaticon-share m--hide"></i>
								Персональные настройки
							</a>
						</li>
						<li class="nav-item m-tabs__item">
							<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab" aria-selected="false">
								Статистика
							</a>
						</li>
					</ul>
				</div>
            </div>					
    
			<div class="tab-content">
				<div class="tab-pane active show" id="m_user_profile_tab_1">
					<form class="m-form m-form--fit m-form--label-align-right">
						<div class="m-portlet__body">
							<div class="form-group m-form__group row">
								<div class="col-10 ml-auto">
									<h3 class="m-form__section">Персональные данные</h3>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">ФИО</label>
								<div class="col-7">
									<input class="form-control m-input" type="text" v-model="user.full_name">
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">Email</label>
								<div class="col-7">
									<input class="form-control m-input" type="text" v-model="user.email">
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">VK ID</label>
								<div class="col-7">
									<input class="form-control m-input" type="text" v-model="user.vk_id" disabled>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">Группа</label>
								<div class="col-7">
									<select class="form-control m-input m-input--square" v-model="user.group_id">
										<option :value="null">Нет группы</option>
										<option :value="group.id" v-for="group in groups">{{ group.name }}</option>
									</select>
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">Роль</label>
                                <div class="m-radio-list col-7">
                                    <label class="m-radio">
                                        <input type="radio" value="1" v-model="user.is_admin"> <div class="m-badge m-badge--wide m-badge--danger">Администратор</div>
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" value="0" v-model="user.is_admin"> <div class="m-badge m-badge--wide m-badge--info">Пользователь</div>
                                        <span></span>
                                    </label>
                                </div>
							</div>
						</div>
						<div class="m-portlet__body">
							<div class="form-group m-form__group row">
								<div class="col-10 ml-auto">
									<h3 class="m-form__section">Настройки безопасности</h3>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">Новый пароль</label>
								<div class="col-7">
									<input class="form-control m-input" type="password" v-model="user.new_password">
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-2 col-form-label">Повторите пароль</label>
								<div class="col-7">
									<input class="form-control m-input" type="password" v-model="user.new_password_confirmation">
								</div>
							</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit">
							<div class="m-form__actions">
								<div class="row">
									<div class="col-2">
									</div>
									<div class="col-7">
										<button @click.prevent="saveProfile" class="btn btn-accent m-btn m-btn--air m-btn--custom">Сохранить</button>
										<router-link tag="button" :to="{name: 'admin.users'}" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Назад</router-link>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="m_user_profile_tab_2">
                    <div class="m-portlet__body">
                        <table class="table m-table m-table--head-separator-primary">
                            <thead>
                                <tr>
                                    <th>Название теста</th>
                                    <th>Результат</th>
                                    <th>Время выполнения теста</th>
                                    <th>Дата</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="result in user.results">
                                    <td>{{ result.test.name }}</td>
                                    <td>{{ result.test_result }}</td>
                                    <td> <span v-show="result.time != null">{{ result.time }} мин.</span> </td>
                                    <td>{{ result.started_at }}</td>
                                    <td>
                                        <span v-show="!result.ended_at" class="m-badge m-badge--wide m-badge--warning">В процессе</span>
                                        <span v-show="result.ended_at" class="m-badge m-badge--wide m-badge--success">Завершён</span>
                                    </td>
                                </tr>

								<tr v-if="user.results.length == 0"> <td colspan="5" style="text-align:center;">Данный пользователь пока не проходил тестов!</td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
        </div>
    </div>
</template>

<script>
import User from '../../../models/User';
import Group from '../../../models/Group';

export default {
	data() {
		return {
            title: 'Редактирование пользователя',
            user: {},
            groups: []
        };
	},

	methods: {
        async fetchData() {
            this.user = await User.include('results.test.results').find(this.$route.params.id)
			this.groups = await Group.get()
        },

		saveProfile() {
			this.user.save().then(response => {
				if (response && response.title && response.msg && response.status) {
					swal(response.title, response.msg, response.status);
				}
			});
		}
    }
};
</script>