<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Список групп
                    </h3>
                </div>
                <div>
                    <a href="#" @click.prevent="createGroup" class="btn m-btn--pill m-btn--air btn-success">Создать группу</a>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-section">
                <div class="m-section__content">
                    <table class="table table-striped m-table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Название
                                </th>
                                <th>
                                    Кол-во пользователей
                                </th>
                                <th>
                                    Действия
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(group, i) in groups">
                                <th scope="row"  width="5%">
                                    {{ group.id }}
                                </th>
                                <td>
                                    {{ group.name }}
                                </td>
                                <td>
                                    {{ group.users_count }}
                                </td>
                                <td width="20%">
                                    <router-link tag="a" :to="{name: 'admin.users.groups.stats', params: {id: group.id}}" class="btn m-btn--pill btn-info">Статистика</router-link>
                                    <button @click="deleteGroup(i)" type="button" class="btn m-btn--pill btn-outline-danger">Удалить</button>
                                </td>
                            </tr>
                            <tr v-if="groups.length == 0"> <td colspan="3" style="text-align:center;">Пока не создано ни одной группы!</td> </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Group from '../../../models/Group';

export default {
	data() {
		return {
			title: 'Список групп пользователей',
			groups: []
		};
	},

	methods: {
		async fetchData() {
			this.groups = await Group.get();
		},
		createGroup() {
			swal({
				title: 'Введите название новой группы',
				input: 'text',
				inputAttributes: {
					autocapitalize: 'off'
				},
				showCancelButton: true,
				confirmButtonText: 'Создать',
				showLoaderOnConfirm: true,
				preConfirm: name => {
					return new Group({name: name}).save()
				},
				allowOutsideClick: () => !swal.isLoading()
			}).then(result => {
                let response = result.value;
                swal(response.title, response.msg, response.status);
                this.fetchData();
			});
		},
		deleteGroup(i) {
			swal({
				title: 'Внимание!',
				text:
					'Вы действительно хотите удалить группу "' +
					this.groups[i].name +
					'"?',
				type: 'warning',
				confirmButtonClass: 'btn m-btn--wide btn-danger btn-sm',
				showCancelButton: true,
				confirmButtonText: 'Удалить'
			}).then(async isConfirmed => {
				if (isConfirmed.value) {
					let response = await this.groups[i].delete();
					if (
						response.data &&
						response.data.title &&
						response.data.msg &&
						response.data.status
					) {
						swal(response.data.title, response.data.msg, response.data.status);
						this.groups.splice(i, 1);
					}
				}
			});
		}
	}
};
</script>
