<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Группа "{{ group.name }}"
                        <small v-if="test">{{ test.name }}</small>
                    </h3>
                </div>
                <div>
                    <router-link v-show="!this.$route.params.test_id" :to="{name: 'admin.users.groups'}" class="btn m-btn--pill m-btn--air btn-secondary">Назад к группам</router-link>
                    <router-link v-show="this.$route.params.test_id" :to="{name: 'admin.users.groups.stats', params: {id: group.id}}" class="btn m-btn--pill m-btn--air btn-secondary">Назад к выбору теста</router-link>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-section">
                <div class="m-section__content">
                    <template v-if="!this.$route.params.test_id">
						<div class="text-center">
							<h3>Выберите тест:</h3>
							<template v-for="test in tests">
								<router-link :to="{name: 'admin.users.groups.test.stats', params: {id: group.id, test_id: test.id}}" class="btn m-btn--pill btn-success">{{ test.name }}</router-link>
								<br><br>
							</template>
						</div>
                    </template>
                    <template v-else="!this.$route.params.test_id">
                        <div v-show="results.length > 0" class="m-portlet">
                            <div class="m-portlet__body  m-portlet__body--no-padding">
                                <div class="row m-row--no-padding m-row--col-separator-xl">
                                    <div class="col-xl-12">
                                        <!--begin:: Widgets/Profit Share-->
                                        <div class="m-widget14">
                                            <div class="m-widget14__header">
                                                <h3 class="m-widget14__title">
                                                    Результаты теста         
                                                </h3>
                                                <span class="m-widget14__desc">
                                                    Процентное соотношение результатов
                                                </span>
                                            </div>
                                            <div class="row  align-items-center">
                                                <div class="col">
                                                 	<div id="m_chart_results_pie" class="m-widget14__chart" style="height: 160px">
														<div class="m-widget14__stat">
															
														</div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="m-widget14__legends">
                                                        <div v-for="result in resultsPieData" class="m-widget14__legend">
                                                            <span class="m-widget14__legend-bullet" :style="{backgroundColor: result.meta.color}"></span>
                                                            <span class="m-widget14__legend-text">{{ result.percent }}% - {{ result.text }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end:: Widgets/Profit Share-->			
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="results.length > 0" class="m-portlet">
                            <div class="m-portlet__body  m-portlet__body--no-padding">
                                <div class="row m-row--no-padding m-row--col-separator-xl">
                                    <div class="col-xl-12">
                                        <div class="m-widget14">
                                            <div class="m-widget14__header m--margin-bottom-30">
                                                <h3 class="m-widget14__title">
                                                    График результатов пользователей           
                                                </h3>
                                                <span class="m-widget14__desc">
                                                    Отношение полученных баллов к пользователям
                                                </span>
                                            </div>
                                            <div class="m-widget14__chart" style="height:300px;">
												<canvas  id="m_chart_users"></canvas>
											</div>
                                        </div>			
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-show="results.length == 0">Нет данных для составления статистики.</div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Group from '../../../models/Group';
import Test from '../../../models/Test';

export default {
	data() {
		return {
			title: 'Статистика',
			group: {},
			tests: [],
			test: {},

			colors: [
				'#716aca',
				'#c4c5d6',
				'#00c5dc',
				'#5867dd',
				'#34bfa3',
				'#36a3f7',
				'#ffb822',
				'#f4516c',
				'#9816f4'
			],

            results: [],
            test: {}
		};
	},

	methods: {
		async fetchData() {
			this.test = {};
			this.group = await Group.find(this.$route.params.id);
			this.tests = await Test.get();
			
			this.getChartData();
		},
		async getChartData() {
			if(this.$route.params.test_id) {
				axios.get(
					'/api/groups/' +
						this.$route.params.id +
						'/stats/' +
						this.$route.params.test_id
				)
				.then(response => {
					this.results = response.data;
					this.createCharts();
				});

				this.test = await Test.find(this.$route.params.test_id);
			}
		},
		createCharts() {
			this.createResultsChart();
			this.createUsersResultsChart();
		},
		createResultsChart() {
			var chart = new Chartist.Pie(
				'#m_chart_results_pie',
				{
					series: this.resultsPieData,
					labels: []
				},
				{
					donut: true,
					donutWidth: 25,
					showLabel: false
				}
			);

			chart.on('draw', function(data) {
				if (data.type === 'slice') {
					var pathLength = data.element._node.getTotalLength();
					data.element.attr({
						'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
					});

					var animationDefinition = {
						'stroke-dashoffset': {
							id: 'anim' + data.index,
							dur: 1000,
							from: -pathLength + 'px',
							to: '0px',
							easing: Chartist.Svg.Easing.easeOutQuint,
							fill: 'freeze',
							stroke: data.meta.color
						}
					};

					if (data.index !== 0) {
						animationDefinition['stroke-dashoffset'].begin =
							'anim' + (data.index - 1) + '.end';
					}

					data.element.attr({
						'stroke-dashoffset': -pathLength + 'px',
						stroke: data.meta.color
					});

					data.element.animate(animationDefinition, false);
				}
			});
		},
		createUsersResultsChart() {
			var chartContainer = $('#m_chart_users');

			if (chartContainer.length == 0) {
				return;
			}

			var chart = new Chart(chartContainer, {
				type: 'bar',
				data: this.resultsUsersData,
				options: {
					title: {
						display: false
					},
					tooltips: {
						intersect: false,
						mode: 'nearest',
						xPadding: 10,
						yPadding: 10,
						caretPadding: 10
					},
					legend: {
						display: true
					},
					responsive: true,
					maintainAspectRatio: false,
					barRadius: 4,
					scales: {
						xAxes: [
							{
								display: true,
								gridLines: false,
								stacked: true
							}
						],
						yAxes: [
							{
								display: true,
								stacked: true,
								gridLines: false
							}
						]
					},
					layout: {
						padding: {
							left: 0,
							right: 0,
							top: 0,
							bottom: 0
						}
					}
				}
			});
		}
    },
    watch: {
        // call again the method if the route changes
        '$route': 'fetchData'
    },
	computed: {
		resultsPieData() {
			let results = [...new Set(this.results.map(item => item.test_result))];
			let percent = parseFloat((100 / this.results.length).toFixed(2));
            let colors = shuffleArray(this.colors);

			results = results.map((item, index) => {
				let obj = {};
				obj[item] = {
					text: item,
					value: 0,
					percent: 0,
					className: 'custom',
					meta: {
						color: colors[index]
					}
				};
				return obj;
			});
			let data = Object.assign({}, ...results);

			this.results.forEach(result => {
				data[result.test_result].value++;
				data[result.test_result].percent += percent;
			});

			return Object.keys(data).map(function(key) {
				return data[key];
			});
		},
		resultsUsersData() {
			let chartData = {
				labels: [],
				datasets: []
			};

			this.resultsPieData.forEach(item => {
				chartData.datasets.push({
					label: item.text,
					backgroundColor: item.meta.color,
					data: []
				});
			});

			this.results.forEach(item => {
				chartData.labels.push(item.user.full_name);

				chartData.datasets.map(dataset => {
					if (dataset.label == item.test_result) {
						dataset.data.push(item.points);
					} else {
						dataset.data.push(null);
					}
				});
			});

			return chartData;
		}
    }
};

const shuffleArray = arr => arr.sort(() => Math.random() - 0.5);
</script>
