<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Прохождение теста "{{ test.name }}"
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-portlet" style="display: none;">
                <div class="m-portlet__body">
                    <div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-first" id="m_wizard">
                        <!--begin: Form Wizard Head -->
                        <div class="m-wizard__head m-portlet__padding-x">	
                            <!--begin: Form Wizard Nav -->
                            <div class="m-wizard__nav">
                                <div class="m-wizard__steps">
                                    <div v-for="(question,i) in test.questions" class="m-wizard__step m-wizard__step--current">
                                        <div class="m-wizard__step-info">
                                            <a href="#" class="m-wizard__step-number">							 
                                                <span><span>{{ i + 1 }}</span></span>						 
                                            </a>
                                        </div>
                                    </div> 				 
                                </div>
                            </div>
                            <!--end: Form Wizard Nav -->
                        </div>
                    </div>
                </div>
                <!--end: Form Wizard-->
            </div>
            <!-- Questions  -->
            <div class="m-portlet" v-if="!isFinished">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Вопрос #{{ lastQuestion + 1 }}
                                <small>из {{ test.questions.length }}</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <!--end: Portlet Head-->
                <form class="m-form" id="m_form" novalidate="novalidate">
                    <!--begin: Form Body -->
                    <div class="m-portlet__body">

                        <div class="m-wizard__form-step m-wizard__form-step--current">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-2">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="m-form__heading">
                                            <h3 class="m-form__heading-title" style="text-align: center;">{{ currentQuestion.text }}</h3>
                                        </div>
                                    </div>
                                    
                                    <div class="m-separator m-separator--dashed m-separator--lg"></div>

                                    <div class="m-form__section">
                                        <div class="form-group m-form__group row">
                                            <div class="col-xl-12 col-lg-12" style="text-align: center;">
                                                <div class="m-radio-inline">
                                                    <label v-for="answer in currentQuestion.answers" class="m-radio">
                                                        <input type="radio" v-model="currentAnswer" :name="'question_' + currentQuestion.id"  :value="answer.id"> {{ answer.text }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Body -->
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12" style="text-align: center;">
                                    <button @click="nextQuestion" type="button" class="btn btn-success" :disabled="!currentAnswer">Перейти к следующему вопросу</button>
                                </div>
                            </div>
                        </div>
                    </div>  
                </form>           
            </div>

            <!-- Results  -->
            <div class="m-portlet" v-if="isFinished">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Результат тестирования
                            </h3>
                        </div>
                    </div>
                </div>
                <!--end: Portlet Head-->
                <form class="m-form" id="m_form" novalidate="novalidate">
                    <!--begin: Form Body -->
                    <div class="m-portlet__body">

                        <div class="m-wizard__form-step m-wizard__form-step--current">
                            <div class="row">
                                <div class="col-xl-8 offset-xl-2">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="m-form__heading">
                                            <h3 class="m-form__heading-title" style="text-align: center;">{{ testResult }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Body -->
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12" style="text-align: center;">
                                    <router-link :to="{name: 'tests'}" class="btn btn-info">Перейти к списку тестов</router-link>
                                </div>
                            </div>
                        </div>
                    </div>  
                </form>           
            </div>
        </div>
    </div>
</template>

<script>
import Test from '../models/Test';
import Result from '../models/Result';
export default {
	data() {
		return {
			title: 'Тестирование',
			test: {},
			result: {},
			lastQuestion: 0,
			currentAnswer: null
		};
	},

	methods: {
		async fetchData() {
			this.result = await Result.include('answers', 'test.questions.answers', 'test.results')
				.where('test_id', this.$route.params.id)
				.where('user_id', user_id)
                .first();
            this.test = this.result.test;
            this.lastQuestion = this.result.answers.length;
		},
		async nextQuestion() {
            this.result.answers.push({
                'result_id': this.result.id,
                'id': this.currentAnswer
            })
            this.result =  await this.result.save();
			this.currentAnswer = null;
            if(this.lastQuestion < this.test.questions.length) {
			    this.lastQuestion++;
            }
		}
	},

	computed: {
		currentQuestion() {
			if (this.test.questions) {
				return this.test.questions[this.lastQuestion];
			}
        },
        isFinished() {
            return (this.result.ended_at != null);
        },
        testResult() {
            if(this.isFinished) {
                for (let i = 0; i < this.test.results.length; i++) {
                    if(this.test.results[i].points_from <= this.result.points  && this.result.points <= this.test.results[i].points_to) {
                        return this.test.results[i].text
                    }   
                }
            }
        }
	}
};
</script>
