<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Список тестов
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="row">
                <div class="col-md-4" v-for="test in tests">
                    <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                        <div class="m-portlet__head" style="height: 0px;">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h2 class="m-portlet__head-label m-portlet__head-label--info">
                                        <span>{{ test.name }}</span>
                                    </h2>
                                </div>			
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            {{ test.desc }}
                        </div>
                        <div class="m-portlet__foot">
                            <router-link tag="a" :to="{name: 'test', params: {id: test.id}}" class="btn m-btn--square btn-success btn-block">Пройти тест</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Test from '../models/Test';

export default {
	data() {
		return {
			title: 'Список тестов',
			tests: []
		};
	},

	methods: {
        async fetchData() {
            this.tests = await Test.get();
        }
	}
};
</script>