<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Список тестов
                    </h3>
                </div>
                <div>
                    <router-link tag="a" :to="{name: 'admin.tests.create'}" class="btn m-btn--pill m-btn--air btn-success">Создать тест</router-link>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-section">
                <div class="m-section__content">
                    <table class="table table-striped m-table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Название
                                </th>
                                <th>
                                    Описание
                                </th>
                                <th>
                                    Действия
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(test, i) in tests">
                                <th scope="row"  width="5%">
                                    {{ test.id }}
                                </th>
                                <td width="15%">
                                    {{ test.name }}
                                </td>
                                <td  width="50%">
                                    {{ test.desc }}
                                </td>
                                <td width="20%">
                                    <router-link tag="a" :to="{name: 'admin.tests.edit', params: {id: test.id}}" class="btn m-btn--pill btn-primary">Редактировать</router-link>
                                    <button @click="deleteTest(i)" type="button" class="btn m-btn--pill btn-outline-danger">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Test from '../../models/Test';

export default {
	data() {
		return {
			title: 'Список тестов',
			tests: []
		};
	},

	methods: {
		async fetchData() {
			this.tests = await Test.get();
		},

		deleteTest(i) {
			swal({
				title: 'Внимание!',
				text:
					'Вы действительно хотите удалить тест "' + this.tests[i].name + '"?',
				type: 'warning',
				confirmButtonClass: 'btn m-btn--wide btn-danger btn-sm',
				showCancelButton: true,
				confirmButtonText: 'Удалить'
			}).then(async isConfirmed => {
				if (isConfirmed.value) {
					let response = await this.tests[i].delete();
					if (
						response.data &&
						response.data.title &&
						response.data.msg &&
						response.data.status
					) {
						swal(response.data.title, response.data.msg, response.data.status);
						this.tests.splice(i, 1);
					}
				}
			});
		}
	}
};
</script>