<template>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Список пользователей
                    </h3>
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-section">
                <div class="m-section__content">
                    <table class="table table-striped m-table">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    ФИО
                                </th>
                                <th>
                                    Почта
                                </th>
                                <th>
                                    VK id
                                </th>
                                <th>
                                    Роль
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, i) in users">
                                <th scope="row"  width="5%">
                                    {{ user.id }}
                                </th>
                                <td>
                                    {{ user.full_name }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <a :href="'//vk.com/id' + user.vk_id">{{ user.vk_id }}</a>
                                </td>
                                <td>
                                    <span v-if="!user.is_admin" class="m-badge m-badge--wide m-badge--info">Пользователь</span>
                                    <span v-if="user.is_admin" class="m-badge m-badge--wide m-badge--danger">Администратор</span>
                                </td>
                                <td width="20%">
                                    <router-link tag="a" :to="{name: 'admin.users.edit', params: {id: user.id}}" class="btn m-btn--pill btn-primary">Редактировать</router-link>
                                    <button @click="deleteUser(i)" type="button" class="btn m-btn--pill btn-outline-danger">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import User from '../../models/User';

export default {
	data() {
		return {
			title: 'Список пользователей',
			users: []
		};
	},

	methods: {
		async fetchData() {
			this.users = await User.get();
		},

		deleteUser(i) {
			swal({
				title: 'Внимание!',
				text:
					'Вы действительно хотите удалить пользователя "' + this.users[i].full_name + '"?',
				type: 'warning',
				confirmButtonClass: 'btn m-btn--wide btn-danger btn-sm',
				showCancelButton: true,
				confirmButtonText: 'Удалить'
			}).then(async isConfirmed => {
				if (isConfirmed.value) {
					let response = await this.users[i].delete();
					if (
						response.data &&
						response.data.title &&
						response.data.msg &&
						response.data.status
					) {
						swal(response.data.title, response.data.msg, response.data.status);
						this.users.splice(i, 1);
					}
				}
			});
		}
	}
};
</script>